*{
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  background-color: #D96846;
  color: black;
}
body{
  background-color: #D96846;
}
/* .App{
  background-color: #D96846;
} */
 /* navigation bar */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin: 1.5rem; */
  padding-top: 1rem;
  /* background-color: #408EC6; */
  width:100%;
  padding-bottom: 2rem;
}
.navigation li{
  list-style-type: none;
  display: inline;
  /* padding: 40px; */
  padding-right: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  
  /* background-color: black; */
}
.navigation li a{
  text-decoration: none;
  border: 5px solid #CDCBD6;
  border-top: 0;
  border-right: 0;
border-left: 0;
padding: 1rem;
color: black;
}
.navigation li a:hover{
background-color:#CDCBD6 ;
border: 6px solid #596235;
border-top: 0;
border-right: 0;
border-left: 0;
}
.navigation li a:hover:active{
  background-color:#CDCBD6 ;
border: 6px solid #596235;
border-top: 0;
border-right: 0;
border-left: 0;
}
.icons{
  font-size: 1.5rem;
  display: none;
}
 
/* carrousel */
.hider{
  display: none;
}
/* .once{
 
} */
 /* form from contact */
form {
  background-color: #596235;
  /* align-items: center; */
  /* text-align: center; */
  width: 40vw;
  height: 110vh;
  border-radius: 20px;
  float: right;
  margin-top: 50px;
  /* padding: 20px; */
  display: block;
  margin-right: 30px;
  color: #CDCBD6;
}
.forms h2{
  background-color: #596235;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-size: 2.1rem;

}
.forms label{
  background-color: #596235;
  color: black;
  /* align-items: center; */
  text-align: center;
  padding-right: 20px;
  padding-top: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1.3rem;
  display: block;
}
.forms input{
  margin-right: 20px;
  text-align: center;
  background-color: #596235;
  color: #CDCBD6;
  align-items: center;
  justify-items: center;
  margin-left: 8rem;
  border-radius: 20px;
  width: 23rem;
}
.form Button{
  align-items: center;
  margin-left: 8rem;
}
/* div from home */
  .second{
margin-top: 2rem;
background-color: #596235;
color: #CDCBD6;
text-align: center;
height: 60vh;
margin-bottom: 2rem;
padding: 2rem;
  }
  .second h2{
    background-color: #596235;
    font-size: 2.5rem;
    padding:2rem;
    font-family:  Arial, sans-serif;
    font-weight: bolder;
  }
  .second p{
    background-color: #596235;
    color: #CDCBD6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
  }
  /* cards on home */
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   text-align: center;
   color: #CDCBD6;
  }
  .cards .card1{
    padding:20px ;
    text-align: center;
    color: #CDCBD6;
  }
  .cards .card1 p{
    color: #CDCBD6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
  }
  .cards .card1 .picss{
    /* position: relative; */
    /* width: 16rem; */
    /* height: 16rem; */
    border-radius: 70%;
  }
  .cards .card1 .picss img{
    border: 2px #596235 solid;
    border-radius: 70%;
    width: 15rem;
    height: 15rem;
    padding: 15px;
  }
  /* service section */
  .service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #596235;
    color: #CDCBD6;
    height: 60vh;
    justify-content: space-around;
    padding-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    /* flex-shrink: calc(20%); */
  }
  .service .wed1 p{
    color: #CDCBD6;
    background-color: #596235;
    height: 51vh;
    font-size: 1.3rem;
  }
  .service .wed2{
    background-color: #596235;
    height: 50vh;
  }
  .service .wed2 img{
    width: 25rem;
    height: 20rem;
  
  }
   .wedding{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background: #596235; */
    margin-top: 8rem;
padding: 2rem;
border: #596235 3px solid;
margin-left: 10px;
margin-right: 10px;
   }
   .wedding .wedd{
    border: #596235 3px solid;
    font-size: 1.5rem;
    padding: 2rem;
   }
   .wedding .wedd1 img{
    width: 25rem;
    height: 20rem;
   }
   .wedding .wedd1 .thumbnails {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.wedding .wedd1  .thumbnails ul {
  display: flex;
  padding-right: 50px;
  list-style: none;
}

.wedding .wedd1 .thumbnails img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
}
   /* cop card */
   .coprate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #596235;
    margin-top: 8rem;
padding: 2rem;
border: #596235 3px solid;
height: 70vh;
margin-left: 10px;
margin-right: 10px;
   }
   .coprate .cop{
    border: #596235 3px solid;
    background-color: #596235;
    color: #CDCBD6;
   }
   .coprate .cop h3{
    color: #CDCBD6;
    background-color: #596235;
   }
   .coprate .cop  ul{
    background-color: #596235;
    font-size: 1.5rem;
    margin-top: 20px;
   }
   .coprate .cop  ul li{
    background-color: #596235;
    color: #CDCBD6;
   }
   .coprate .cop1{
    background-color: #596235;
   }
   .coprate .cop1 img{
    width: 25rem;
    height: 20rem;
    background-color: #596235;
   }
   .coprate .cop2{
    background-color: #596235;
   }
   .coprate .cop2 ul{
background-color: #596235;
margin-top: 60px;
font-size: 1.5rem;
   }
   .coprate .cop2 ul li{
background-color: #596235;
color: #CDCBD6;
   }
   /* soci card */
   .social{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background: #596235; */
    margin-top: 8rem;
padding: 2rem;
border: #596235 3px solid;
margin-left: 10px;
margin-right: 10px;
   }
   .social .soc{
    border: #596235 3px solid;
    font-size: 1.5rem;
    padding: 2rem;
   }
   .social .soc1 img{
    width: 25rem;
    height: 20rem;
   }
   /* gallery section */
   .con{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   }
   .con .con1{
padding: 5px;
border: 2px solid #CDCBD6;
   }
    .con .con1 img{
      width: 100%;
    }
@media (max-width: 768px) {
  .icons{
    display:block;
    padding-top: 20px;
  }
  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 350px;
    height: 60vh;
    top: -800px;
    right: 0;
    z-index: 10;
    transition: all 0.7s;
    background-color: #D96846;
  }
  .navigation li a:hover{
    background-color:#CDCBD6 ;
    border: 6px solid #596235;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    }
  
  .navigation.active{
    top: 15%;
    transition: all 0.9s ease-in;
  }
  /* carousel */
  .carousel{
    display: none;
  }
  .hider{
display: inline;
position: relative;
/* text-align: center; */
/* color: white; */

 }
 .hider img{
  width: 650px;
  height: 300px;
 }
.hider .centered h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 /* services section */
 .service{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #596235;
  color: #CDCBD6;
  height: 60vh;
  justify-content: space-around;
  padding-top: 70px;
  /* flex-shrink: calc(20%); */
}
 .service .wed2{
  display: none;
 }
}