*{
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
  background-color: #D96846;
  color: black;
}
body{
  background-color: #D96846;
}
/* .App{
  background-color: #D96846;
} */
 /* navigation bar */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin: 1.5rem; */
  padding-top: 1rem;
  /* background-color: #408EC6; */
  width:100%;
  padding-bottom: 2rem;
}
.navigation li{
  list-style-type: none;
  display: inline;
  /* padding: 40px; */
  padding-right: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  
  /* background-color: black; */
}
.navigation li a{
  text-decoration: none;
  border: 5px solid #CDCBD6;
  border-top: 0;
  border-right: 0;
border-left: 0;
padding: 1rem;
color: black;
}
.navigation li a:hover{
background-color:#CDCBD6 ;
border: 6px solid #596235;
border-top: 0;
border-right: 0;
border-left: 0;
}
.navigation li a:hover:active{
  background-color:#CDCBD6 ;
border: 6px solid #596235;
border-top: 0;
border-right: 0;
border-left: 0;
}
.icons{
  font-size: 1.5rem;
  display: none;
}
 
/* carrousel */
.hider{
  display: none;
}
/* .once{
 
} */
 /* form from contact */
form {
  background-color: #596235;
  /* align-items: center; */
  /* text-align: center; */
  width: 40vw;
  height: 100vh;
  border-radius: 20px;
  float: right;
  margin-top: 50px;
  /* padding: 20px; */
}
.forms label{
  background-color: #596235;
  color: black;
  align-items: center;
  text-align: center;
  padding-right: 20px;
  padding-top: 40px;
  border-top-left-radius: 20px;
}
.forms input{
  margin-right: 20px;
  text-align: center;
}
/* div from home */
  .second{
margin-top: 2rem;
background-color: #596235;
color: #CDCBD6;
text-align: center;
height: 60vh;
margin-bottom: 2rem;
padding: 2rem;
  }
  .second h2{
    background-color: #596235;
    font-size: 2.5rem;
    padding:2rem;
    font-family:  Arial, sans-serif;
    font-weight: bolder;
  }
  .second p{
    background-color: #596235;
    color: #CDCBD6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
  }
@media (max-width: 768px) {
  .icons{
    display:block;
    padding-top: 20px;
  }
  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 350px;
    height: 60vh;
    top: -800px;
    right: 0;
    z-index: 10;
    transition: all 0.7s;
    background-color: #D96846;
  }
  .navigation li a:hover{
    background-color:#CDCBD6 ;
    border: 6px solid #596235;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    }
  
  .navigation.active{
    top: 15%;
    transition: all 0.9s ease-in;
  }
  /* carousel */
  .carousel{
    display: none;
  }
  .hider img{
display: inline;

 }
}